.library-icon-set [class^="icon-"], .library-icon-set [class*="icon-"] {
    font-family: "Icon set";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add-user-bold:before { content: "\e948"; }
.icon-add-user-mono:before { content: "\e949"; }
.icon-address-book-bold:before { content: "\e900"; }
.icon-address-book-mono:before { content: "\e901"; }
.icon-ajust-alt-bold:before { content: "\e902"; }
.icon-ajust-alt-mono:before { content: "\e903"; }
.icon-ajust-bold:before { content: "\e904"; }
.icon-ajust-mono:before { content: "\e905"; }
.icon-alert-bold:before { content: "\e906"; }
.icon-alert-mono:before { content: "\e907"; }
.icon-analyze-bold:before { content: "\e94a"; }
.icon-analyze-mono:before { content: "\e94b"; }
.icon-arrow-forward:before { content: "\e94c"; }
.icon-asterisk-bold:before { content: "\e94d"; }
.icon-asterisk-mono:before { content: "\e94e"; }
.icon-attachment-mono:before { content: "\e94f"; }
.icon-awake-bold:before { content: "\e950"; }
.icon-awake-mono:before { content: "\e951"; }
.icon-award-bold:before { content: "\e952"; }
.icon-award-mono:before { content: "\e953"; }
.icon-back-chevron-bold:before { content: "\e908"; }
.icon-back-chevron-mono:before { content: "\e909"; }
.icon-barcode-bold:before { content: "\e954"; }
.icon-barcode-mono:before { content: "\e955"; }
.icon-bell-bold:before { content: "\e956"; }
.icon-bell-mono:before { content: "\e957"; }
.icon-bin-bold:before { content: "\e90a"; }
.icon-bin-bold:before { content: "\e958"; }
.icon-bin-mono:before { content: "\e90b"; }
.icon-bin-mono:before { content: "\e959"; }
.icon-bluetooth-mono:before { content: "\e95a"; }
.icon-bookmark-bold:before { content: "\e95b"; }
.icon-bookmark-mono:before { content: "\e95c"; }
.icon-calculator-bold:before { content: "\e90c"; }
.icon-calculator-mono:before { content: "\e90d"; }
.icon-calendar-bold:before { content: "\e95d"; }
.icon-calendar-mono:before { content: "\e95e"; }
.icon-camera-bold:before { content: "\e95f"; }
.icon-camera-mono:before { content: "\e960"; }
.icon-canadian-dollar-bold:before { content: "\e961"; }
.icon-canadian-dollar-mono:before { content: "\e962"; }
.icon-cart-bold:before { content: "\e963"; }
.icon-cart-mono:before { content: "\e964"; }
.icon-catolog-bold:before { content: "\e90e"; }
.icon-catolog-mono:before { content: "\e90f"; }
.icon-chat-bold:before { content: "\e965"; }
.icon-chat-mono:before { content: "\e966"; }
.icon-check-bold:before { content: "\e910"; }
.icon-check-mono:before { content: "\e911"; }
.icon-checked-box-bold:before { content: "\e912"; }
.icon-checked-box-mono:before { content: "\e913"; }
.icon-clipboard-bold:before { content: "\e967"; }
.icon-clipboard-mono:before { content: "\e968"; }
.icon-clock-bold:before { content: "\e969"; }
.icon-clock-mono:before { content: "\e96a"; }
.icon-close-bold:before { content: "\e914"; }
.icon-close-mono:before { content: "\e915"; }
.icon-cloud-bold:before { content: "\e96b"; }
.icon-cloud-download-bold:before { content: "\e96c"; }
.icon-cloud-download-mono:before { content: "\e96d"; }
.icon-cloud-mono:before { content: "\e96e"; }
.icon-cloud-upload-bold:before { content: "\e916"; }
.icon-cloud-upload-bold:before { content: "\e96f"; }
.icon-cloud-upload-mono:before { content: "\e917"; }
.icon-cloud-upload-mono:before { content: "\e970"; }
.icon-cold-bold:before { content: "\e971"; }
.icon-cold-mono:before { content: "\e972"; }
.icon-comment-bold:before { content: "\e973"; }
.icon-comment-mono:before { content: "\e974"; }
.icon-community-bold:before { content: "\e975"; }
.icon-community-mono:before { content: "\e976"; }
.icon-compass-bold:before { content: "\e977"; }
.icon-compass-mono:before { content: "\e978"; }
.icon-contact-us-bold:before { content: "\e918"; }
.icon-contact-us-mono:before { content: "\e919"; }
.icon-credit-card-bold:before { content: "\e979"; }
.icon-credit-card-mono:before { content: "\e97a"; }
.icon-crop-bold:before { content: "\e91a"; }
.icon-crop-mono:before { content: "\e91b"; }
.icon-customer-approved-bold:before { content: "\e91c"; }
.icon-customer-approved-mono:before { content: "\e91d"; }
.icon-cut-bold:before { content: "\e97b"; }
.icon-cut-mono:before { content: "\e97c"; }
.icon-dashboard-bold:before { content: "\e97d"; }
.icon-dashboard-mono:before { content: "\e97e"; }
.icon-data-bold:before { content: "\e97f"; }
.icon-data-mono:before { content: "\e980"; }
.icon-database-ban-bold:before { content: "\e91e"; }
.icon-database-ban-mono:before { content: "\e91f"; }
.icon-database-bold:before { content: "\e920"; }
.icon-database-lock-bold:before { content: "\e921"; }
.icon-database-lock-mono:before { content: "\e922"; }
.icon-database-minus-bold:before { content: "\e923"; }
.icon-database-minus-mono:before { content: "\e924"; }
.icon-database-mono:before { content: "\e925"; }
.icon-delete-bold:before { content: "\e981"; }
.icon-delete-email-alt-bold:before { content: "\e926"; }
.icon-delete-email-alt-mono:before { content: "\e927"; }
.icon-delete-email-bold:before { content: "\e928"; }
.icon-delete-email-mono:before { content: "\e929"; }
.icon-delete-folder-bold:before { content: "\e92a"; }
.icon-delete-folder-mono:before { content: "\e92b"; }
.icon-delete-mono:before { content: "\e982"; }
.icon-delete-user-bold:before { content: "\e983"; }
.icon-delete-user-mono:before { content: "\e984"; }
.icon-direction-bold:before { content: "\e985"; }
.icon-direction-mono:before { content: "\e986"; }
.icon-divide-bold:before { content: "\e987"; }
.icon-divide-mono:before { content: "\e988"; }
.icon-document-bold:before { content: "\e989"; }
.icon-document-mono:before { content: "\e98a"; }
.icon-dollar-bold:before { content: "\e98b"; }
.icon-dollar-mono:before { content: "\e98c"; }
.icon-down-arrow-bold:before { content: "\e92c"; }
.icon-down-arrow-mono:before { content: "\e92d"; }
.icon-down-chevron-bold:before { content: "\e92e"; }
.icon-down-chevron-mono:before { content: "\e92f"; }
.icon-download-bold:before { content: "\e930"; }
.icon-download-mono:before { content: "\e931"; }
.icon-edit-alt-bold:before { content: "\e932"; }
.icon-edit-alt-mono:before { content: "\e933"; }
.icon-edit-bold:before { content: "\e934"; }
.icon-edit-bold:before { content: "\e98d"; }
.icon-edit-mono:before { content: "\e935"; }
.icon-edit-mono:before { content: "\e98e"; }
.icon-eject-bold:before { content: "\e98f"; }
.icon-eject-mono:before { content: "\e990"; }
.icon-electricity-bold:before { content: "\e991"; }
.icon-electricity-mono:before { content: "\e992"; }
.icon-email-bold:before { content: "\e936"; }
.icon-email-mono:before { content: "\e937"; }
.icon-enlarge-bold:before { content: "\e938"; }
.icon-enlarge-mono:before { content: "\e939"; }
.icon-euro-bold:before { content: "\e993"; }
.icon-euro-mono:before { content: "\e994"; }
.icon-fast-backward-bold:before { content: "\e995"; }
.icon-fast-backward-mono:before { content: "\e996"; }
.icon-fast-forward-bold:before { content: "\e997"; }
.icon-fast-forward-mono:before { content: "\e998"; }
.icon-favorites-bold:before { content: "\e999"; }
.icon-favorites-mono:before { content: "\e99a"; }
.icon-female-bold:before { content: "\e99b"; }
.icon-female-mono:before { content: "\e99c"; }
.icon-film-mono:before { content: "\e99d"; }
.icon-film-play:before { content: "\e99e"; }
.icon-filter-bold:before { content: "\e93a"; }
.icon-filter-mono:before { content: "\e93b"; }
.icon-first-page-bold:before { content: "\e99f"; }
.icon-first-page-mono:before { content: "\e9a0"; }
.icon-flag-bold:before { content: "\e9a1"; }
.icon-flag-folder-bold:before { content: "\e93c"; }
.icon-flag-folder-mono:before { content: "\e93d"; }
.icon-flag-mono:before { content: "\e9a2"; }
.icon-flagged-email-mono:before { content: "\e93e"; }
.icon-flgged-email-bold:before { content: "\e93f"; }
.icon-focus-bold:before { content: "\e940"; }
.icon-focus-mono:before { content: "\e941"; }
.icon-folder-bold:before { content: "\e942"; }
.icon-folder-mono:before { content: "\e943"; }
.icon-folder-open-bold:before { content: "\e944"; }
.icon-folder-open-mono:before { content: "\e945"; }
.icon-forward-bold:before { content: "\e9a3"; }
.icon-gift-bold:before { content: "\e9a4"; }
.icon-gift-mono:before { content: "\e9a5"; }
.icon-global-mono:before { content: "\e9a6"; }
.icon-green-bold:before { content: "\e9a7"; }
.icon-green-mono:before { content: "\e9a8"; }
.icon-grid-view-bold:before { content: "\e946"; }
.icon-grid-view-mono:before { content: "\e947"; }
.icon-hand-down-mono:before { content: "\e9a9"; }
.icon-hand-left-mono:before { content: "\e9aa"; }
.icon-hand-right-mono:before { content: "\e9ab"; }
.icon-hand-up-mono:before { content: "\e9ac"; }
.icon-home-bold:before { content: "\e9ad"; }
.icon-home-mono:before { content: "\e9ae"; }
.icon-hot-bold:before { content: "\e9af"; }
.icon-hot-mono:before { content: "\e9b0"; }
.icon-image-bold:before { content: "\ea13"; }
.icon-image-mono:before { content: "\ea14"; }
.icon-info-bold:before { content: "\ea15"; }
.icon-info-mono:before { content: "\ea16"; }
.icon-iphone-bold:before { content: "\e9b1"; }
.icon-iphone-mono:before { content: "\e9b2"; }
.icon-key-bold:before { content: "\e9b3"; }
.icon-key-mono:before { content: "\e9b4"; }
.icon-last-page-bold:before { content: "\e9b5"; }
.icon-last-page-mono:before { content: "\e9b6"; }
.icon-left-arrow-bold:before { content: "\ea17"; }
.icon-left-arrow-mono:before { content: "\ea18"; }
.icon-lightbulb-bold:before { content: "\e9b7"; }
.icon-lightbulb-mono:before { content: "\e9b8"; }
.icon-link-bold:before { content: "\e9b9"; }
.icon-link-mono:before { content: "\e9ba"; }
.icon-location-bold:before { content: "\e9bb"; }
.icon-location-mono:before { content: "\e9bc"; }
.icon-lock-bold:before { content: "\e9bd"; }
.icon-lock-email-bold:before { content: "\ea19"; }
.icon-lock-email-mono:before { content: "\ea1a"; }
.icon-lock-folder-bold:before { content: "\ea1b"; }
.icon-lock-folder-mono:before { content: "\ea1c"; }
.icon-lock-mono:before { content: "\e9be"; }
.icon-log-book-bold:before { content: "\ea1d"; }
.icon-log-book-mono:before { content: "\ea1e"; }
.icon-magnetize-bold:before { content: "\e9bf"; }
.icon-magnetize-mono:before { content: "\e9c0"; }
.icon-male-bold:before { content: "\e9c1"; }
.icon-male-mono:before { content: "\e9c2"; }
.icon-measure-bold:before { content: "\e9c3"; }
.icon-measure-mono:before { content: "\e9c4"; }
.icon-minus-bold:before { content: "\ea1f"; }
.icon-minus-cart-bold:before { content: "\e9c5"; }
.icon-minus-cart-mono:before { content: "\e9c6"; }
.icon-minus-mono:before { content: "\ea20"; }
.icon-monitor-bold:before { content: "\ea21"; }
.icon-monitor-mono:before { content: "\ea22"; }
.icon-more-bold:before { content: "\ea23"; }
.icon-more-mono:before { content: "\ea24"; }
.icon-more-windows-bold:before { content: "\ea25"; }
.icon-more-windows-mono:before { content: "\ea26"; }
.icon-move-bold:before { content: "\ea27"; }
.icon-move-mono:before { content: "\ea28"; }
.icon-multi-instrument-bold:before { content: "\ea29"; }
.icon-multi-instrument-mono:before { content: "\ea2a"; }
.icon-mute-bold:before { content: "\ea2b"; }
.icon-mute-mono:before { content: "\ea2c"; }
.icon-new-window-bold:before { content: "\e9c7"; }
.icon-new-window-mono:before { content: "\e9c8"; }
.icon-note-bold:before { content: "\e9c9"; }
.icon-note-mono:before { content: "\e9ca"; }
.icon-open-email-bold:before { content: "\ea2d"; }
.icon-open-email-mono:before { content: "\ea2e"; }
.icon-pause-bold:before { content: "\e9cb"; }
.icon-pause-mono:before { content: "\e9cc"; }
.icon-phone-bold:before { content: "\ea2f"; }
.icon-phone-mono:before { content: "\ea30"; }
.icon-pie-chart-bold:before { content: "\e9cd"; }
.icon-pie-chart-mono:before { content: "\e9ce"; }
.icon-pin-bold:before { content: "\e9cf"; }
.icon-pin-bold:before { content: "\ea31"; }
.icon-pin-mono:before { content: "\e9d0"; }
.icon-pin-mono:before { content: "\ea32"; }
.icon-play-alt-bold:before { content: "\ea33"; }
.icon-play-alt-mono:before { content: "\ea34"; }
.icon-play-bold:before { content: "\e9d1"; }
.icon-play-mono:before { content: "\e9d2"; }
.icon-plus-bold:before { content: "\ea35"; }
.icon-plus-cart-bold:before { content: "\e9d3"; }
.icon-plus-cart-mono:before { content: "\e9d4"; }
.icon-plus-mono:before { content: "\ea36"; }
.icon-pound-bold:before { content: "\e9d5"; }
.icon-pound-mono:before { content: "\e9d6"; }
.icon-power-bold:before { content: "\e9d7"; }
.icon-power-mono:before { content: "\e9d8"; }
.icon-printer-bold:before { content: "\e9d9"; }
.icon-printer-mono:before { content: "\e9da"; }
.icon-profile-bold:before { content: "\e9db"; }
.icon-profile-bold:before { content: "\ea37"; }
.icon-profile-mono:before { content: "\e9dc"; }
.icon-profile-mono:before { content: "\ea38"; }
.icon-prohibited-bold:before { content: "\ea39"; }
.icon-prohibited-mono:before { content: "\ea3a"; }
.icon-promotions-bold:before { content: "\ea3b"; }
.icon-promotions-mono:before { content: "\ea3c"; }
.icon-qr-code-bold:before { content: "\e9dd"; }
.icon-qr-code-mono:before { content: "\e9de"; }
.icon-question-bold:before { content: "\ea3d"; }
.icon-question-mono:before { content: "\ea3e"; }
.icon-random-bold:before { content: "\ea3f"; }
.icon-random-mono:before { content: "\ea40"; }
.icon-rating-bold:before { content: "\e9df"; }
.icon-rating-mono:before { content: "\e9e0"; }
.icon-receive-bold:before { content: "\ea41"; }
.icon-receive-mono:before { content: "\ea42"; }
.icon-recycle-bold:before { content: "\ea43"; }
.icon-recycle-mono:before { content: "\ea44"; }
.icon-refresh-bold:before { content: "\ea45"; }
.icon-refresh-mono:before { content: "\ea46"; }
.icon-repeat-bold:before { content: "\ea47"; }
.icon-repeat-mono:before { content: "\ea48"; }
.icon-resize-large-bold:before { content: "\ea49"; }
.icon-resize-large-mono:before { content: "\ea4a"; }
.icon-resize-small-bold:before { content: "\ea4b"; }
.icon-resize-small-mono:before { content: "\ea4c"; }
.icon-resource-bold:before { content: "\e9e1"; }
.icon-resource-mono:before { content: "\e9e2"; }
.icon-restart-bold:before { content: "\ea4d"; }
.icon-restart-mono:before { content: "\ea4e"; }
.icon-return-bold:before { content: "\ea4f"; }
.icon-return-mono:before { content: "\ea50"; }
.icon-reverse-left-bold:before { content: "\ea51"; }
.icon-reverse-left-mono:before { content: "\ea52"; }
.icon-reverse-right-bold:before { content: "\ea53"; }
.icon-reverse-right-mono:before { content: "\ea54"; }
.icon-rewind-bold:before { content: "\e9e3"; }
.icon-rewind-mono:before { content: "\e9e4"; }
.icon-right-arrow-bold:before { content: "\ea55"; }
.icon-right-arrow-mono:before { content: "\ea56"; }
.icon-right-chevron-bold:before { content: "\ea57"; }
.icon-right-chevron-mono:before { content: "\ea58"; }
.icon-sample-bold:before { content: "\e9e5"; }
.icon-sample-mono:before { content: "\e9e6"; }
.icon-search-bold:before { content: "\e9e7"; }
.icon-search-mono:before { content: "\e9e8"; }
.icon-send-bold:before { content: "\ea59"; }
.icon-send-mono:before { content: "\ea5a"; }
.icon-settings-alt-bold:before { content: "\ea5b"; }
.icon-settings-alt-mono:before { content: "\ea5c"; }
.icon-settings-bold:before { content: "\ea5d"; }
.icon-settings-mono:before { content: "\ea5e"; }
.icon-share-alt-bold:before { content: "\e9e9"; }
.icon-share-alt-mono:before { content: "\e9ea"; }
.icon-share-bold:before { content: "\e9eb"; }
.icon-share-mono:before { content: "\e9ec"; }
.icon-shipping-bold:before { content: "\e9ed"; }
.icon-shipping-mono:before { content: "\e9ee"; }
.icon-signal-bold:before { content: "\e9ef"; }
.icon-signal-mono:before { content: "\e9f0"; }
.icon-sleep-bold:before { content: "\e9f1"; }
.icon-sleep-mono:before { content: "\e9f2"; }
.icon-sort-arrows-bold:before { content: "\e9f3"; }
.icon-sort-arrows-mono:before { content: "\e9f4"; }
.icon-star-email-bold:before { content: "\ea5f"; }
.icon-star-email-mono:before { content: "\ea60"; }
.icon-stop-bold:before { content: "\e9f5"; }
.icon-stop-mono:before { content: "\e9f6"; }
.icon-stopwatch-bold:before { content: "\e9f7"; }
.icon-stopwatch-mono:before { content: "\e9f8"; }
.icon-success-bold:before { content: "\ea7f"; }
.icon-success-mono:before { content: "\ea80"; }
.icon-support-bold:before { content: "\e9f9"; }
.icon-support-mono:before { content: "\e9fa"; }
.icon-table-bold:before { content: "\ea61"; }
.icon-table-mono:before { content: "\ea62"; }
.icon-tag-bold:before { content: "\e9fb"; }
.icon-tag-mono:before { content: "\e9fc"; }
.icon-technical-documentation-bold:before { content: "\ea63"; }
.icon-technical-documentation-mono:before { content: "\ea64"; }
.icon-thumbs-down-bold:before { content: "\e9fd"; }
.icon-thumbs-down-mono:before { content: "\e9fe"; }
.icon-thumbs-up-bold:before { content: "\e9ff"; }
.icon-thumbs-up-mono:before { content: "\ea00"; }
.icon-tint-bold:before { content: "\ea65"; }
.icon-tint-mono:before { content: "\ea66"; }
.icon-unlock-bold:before { content: "\ea01"; }
.icon-unlock-mono:before { content: "\ea02"; }
.icon-unreturn-bold:before { content: "\ea67"; }
.icon-unreturn-mono:before { content: "\ea68"; }
.icon-unshare-bold:before { content: "\ea03"; }
.icon-unshare-mono:before { content: "\ea04"; }
.icon-up-arrow-bold:before { content: "\ea69"; }
.icon-up-arrow-mono:before { content: "\ea6a"; }
.icon-up-chevron-bold:before { content: "\ea6b"; }
.icon-up-chevron-mono:before { content: "\ea6c"; }
.icon-upload-bold:before { content: "\ea05"; }
.icon-upload-bold:before { content: "\ea6d"; }
.icon-upload-mono:before { content: "\ea06"; }
.icon-upload-mono:before { content: "\ea6e"; }
.icon-vcard-bold:before { content: "\ea07"; }
.icon-vcard-mono:before { content: "\ea08"; }
.icon-video-bold:before { content: "\ea6f"; }
.icon-video-mono:before { content: "\ea70"; }
.icon-view-bold:before { content: "\ea09"; }
.icon-view-mono:before { content: "\ea0a"; }
.icon-view-off-bold:before { content: "\ea0b"; }
.icon-view-off-mono:before { content: "\ea0c"; }
.icon-volume-full-bold:before { content: "\ea71"; }
.icon-volume-full-mono:before { content: "\ea72"; }
.icon-volume-low-bold:before { content: "\ea73"; }
.icon-volume-low-mono:before { content: "\ea74"; }
.icon-volume-medium-bold:before { content: "\ea75"; }
.icon-volume-medium-mono:before { content: "\ea76"; }
.icon-warning-bold:before { content: "\ea77"; }
.icon-warning-mono:before { content: "\ea78"; }
.icon-webinar-bold:before { content: "\ea0d"; }
.icon-webinar-mono:before { content: "\ea0e"; }
.icon-wireless-alt-bold:before { content: "\ea0f"; }
.icon-wireless-alt-bold:before { content: "\ea79"; }
.icon-wireless-alt-mono:before { content: "\ea10"; }
.icon-wireless-alt-mono:before { content: "\ea7a"; }
.icon-wireless-bold:before { content: "\ea11"; }
.icon-wireless-mono:before { content: "\ea12"; }
.icon-zoom-in-bold:before { content: "\ea7b"; }
.icon-zoom-in-mono:before { content: "\ea7c"; }
.icon-zoom-out-bold:before { content: "\ea7d"; }
.icon-zoom-out-mono:before { content: "\ea7e"; }
